.searchFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.searchFilter button span {
  margin-left: 0.25rem;
  display: inline-block;
  transform: translateY(1px);
  color: var(--color-gray3);
  transition: color 300ms ease;
}

.searchFilter button span:hover {
  color: var(--color-red);
}
