@import './reset.css';
@import './variables.css';

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body,
input,
select,
button {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  color: var(--color-black);
}
