@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 13px;
}

@media (max-width: 768px) {
  html {
    font-size: 11.5px;
  }
}

body,
input,
select,
button {
  font-family: "Noto Sans KR", sans-serif;
}
