.tradeTable {
  position: relative;
}

.tradeTable .tableHeader {
  display: flex;
  justify-content: space-between;
}

.tradeTable .tableHeader strong {
  font-weight: 700;
}

.tradeTable .table {
  width: 100%;
  margin-top: 1rem;
}

.tradeTable .table th,
.tradeTable .table td {
  border: 1px solid var(--color-gray7);
}

.tradeTable .table th {
  padding: 1.25rem 0;
  background-color: var(--color-gray8);
  font-weight: 500;
}

.tradeTable .table th div {
  display: inline-flex;
  align-items: center;
}

.tradeTable .table th div span {
  margin-left: 0.25rem;
  transform: translateY(1px);
}

.tradeTable .table td {
  padding: 1rem;
  text-align: center;
}

.tradeTable .table td button {
  height: 2.25rem;
  padding: 0 1rem;
  font-size: 0.85rem;
}

.tradeTable .table td div {
  display: inline-flex;
  align-items: center;
}

.tradeTable .table td small {
  margin-left: 0.25rem;
  font-size: 0.85rem;
  color: var(--color-gray3);
}

.tradeTable .table tr:nth-child(odd) td {
  background-color: var(--color-gray9);
}
