.searchFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.searchFilter button {
  height: 2.5rem;
  padding: 0.75rem;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-gray7);
  font-size: 0.85rem;
  color: var(--color-gray2);
  transition: background-color 300ms, color 300ms ease;
}

.searchFilter button:hover {
  background-color: var(--color-gray6);
  cursor: pointer;
}

.searchFilter button span {
  margin-left: 0.25rem;
  transform: translateY(1px);
  color: var(--color-gray3);
  transition: color 300ms ease;
}

.searchFilter button span:hover {
  color: var(--color-red);
}
