.searchForm {
  display: flex;
  gap: 0.25rem;
}

.searchForm select,
.searchForm button {
  height: var(--input-button-height);
}

.searchForm select {
  flex: 0.25;
  padding: 0 1rem;
  border: 1px solid var(--color-gray8);
  background-color: var(--color-gray8);
  border-radius: var(--border-radius);
  transition: background-color 300ms ease;
  outline: none;
}
.searchForm select:hover {
  background-color: var(--color-gray7);
}
